:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  font-size: 2.2rem;
  font-family: sans-serif;
  background-color: #4710c1;
  color: #fff;
  padding: 2rem 0;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
}

header div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header span {
  margin: 0 3rem;
}

header a {
  margin: 0 0.6rem;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;

  color: #4710c1;
  background-color: #fff;
}

.banner {
  height: 100vh;
  background-image: url('/img/capa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.secao {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.secao h2 {
  font-size: 2.6rem;
  font-family: sans-serif;
  text-align: center;
  margin: 3rem 0;
}

.secao p {
  width: 100%;
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 1.2rem 0;
}

.secao img {
  width: 100%;
}

.secao a {
  color: blue;
}

.galeria {
  display: flex;
  overflow-x: scroll;
  margin: 0 auto 2rem auto;
}

.galeria img {
  width: 31.5rem;
  margin: 1rem;
}

.imagem-sombra {
  box-shadow: 1rem 1rem 1rem #939393;
}

.informacao {
  margin: 1.5rem auto;
}
